# **Q2**: ¿Todas las estrellas que albergan sistemas planetarios tienen necesariamente la misma masa que el Sol?

1.- Convierte los datos del semieje mayor de los sistemas planetarios de Unidades Astronómicas (UA) a metros, y los datos del período orbital de años a segundos.

In [27]:
import numpy as np

file_dat_preg2 = open("datos_planetas_b.txt","r")
lineas_preg2 = file_dat_preg2.readlines()
file_dat_preg2.close()
head = lineas_preg2[0].split()
salto = lineas_preg2[1:]
datos_q2 = [linea.strip() for linea in salto]
print(head)
print(datos_q2)
###########################

planetas_b = []
periodo_orbital_años = []
semieje_mayor_UA = []
masa_relativa_tierra = []
for i in datos_q2:
    planetas_b.append(i.split()[0])
    periodo_orbital_años.append(float(i.split()[2]))
    semieje_mayor_UA.append(float(i.split()[1]))
    masa_relativa_tierra.append(float(i.split()[3]))

###############################
# Convertir a array y transformar unidades.
###############################

semieje_mayor_UA = np.array(semieje_mayor_UA)
periodo_orbital_años = np.array(periodo_orbital_años)

# Transformación

metros_semieje_mayor = semieje_mayor_UA * 1.50*10**11
segundos_periodo_orbital = periodo_orbital_años * 31557600

['Nombre', 'Semieje_mayor(UA)', 'Periodo_orbital(aÃ±os)', 'Masa(Masa_relativa_a_la_Tierra)']
['TRAPPIST-1b    0.0120               0.0041                   1.37', 'Teegardenb     0.0252               0.0135                   1.16', 'LHS_1140b      0.0960               0.0677                   6.38', 'TOI-125b       0.0520               0.0127                   9.50', 'Kepler-289b    0.2100               0.0946                   7.31', 'K2-290b        0.0920               0.0252                   10.90', 'HR_8799b       67.9600              455.8893                 1589.14', 'HD_203387b     1.7700               1.4055                   1110']

In [30]:
import pandas as pd
from IPython.display import display

df = pd.DataFrame({"Nombre del planeta_b": planetas_b,
                   "Semieje mayor de la órbita (metros)": metros_semieje_mayor,
                   "Periodo orbital (segundos)": segundos_periodo_orbital,
                   "Masa (relativa a la tierra)": masa_relativa_tierra})

display(df)

,Nombre del planeta_b,Semieje mayor de la órbita (metros),Periodo orbital (segundos),Masa (relativa a la tierra)
0,TRAPPIST-1b,1.800000e+09,1.293862e+05,1.37
1,Teegardenb,3.780000e+09,4.260276e+05,1.16
2,LHS_1140b,1.440000e+10,2.136450e+06,6.38
3,TOI-125b,7.800000e+09,4.007815e+05,9.50
4,Kepler-289b,3.150000e+10,2.985349e+06,7.31
5,K2-290b,1.380000e+10,7.952515e+05,10.90
6,HR_8799b,1.019400e+13,1.438677e+10,1589.14
7,HD_203387b,2.655000e+11,4.435421e+07,1110.00