## Q3: ¿Cómo se aplica la Tercera Ley de Kepler a diferentes tipos de sistemas extrasolares?  
1.- En las actividades 1 y 2 estudiamos sistemas extrasolares de una estrella utilizando las leyes de Kepler y Gravitación universal. En esta ocasión, utilizaremos dos sistemas binarios y aplicaremos la Tercera Ley de Kepler ¿Crees que estas leyes son válidas para estos sistemas? Justifica tu respuesta.

In [1]:
import numpy as np
import matplotlib.pyplot as plt

file_bin = open("datos_planetas_binarios.txt","r")
lin_bin = file_bin.readlines()
file_bin.close()
head = lin_bin[0].split()
salto = lin_bin[1:]
datosq3 = [linea.strip() for linea in salto]
print(head)
print(datosq3)
###########################

exoplaneta = []
periodo_orbital_años = []
semieje = []
for i in datosq3:
    exoplaneta.append(i.split()[0])
    periodo_orbital_años.append(float(i.split()[1]))
    semieje.append(float(i.split()[2]))

['Exoplaneta', 'Periodo(aÃ±os)', 'Semieje_(UA)']
['NN_Ser_(AB)_c      15.49          5.39', 'NN_Ser_(AB)_d      7.65           3.36', 'Kepler-47_(AB)_b   0.14           0.30', 'Kepler-47_(AB)_c   0.83           0.99', 'Kepler-47_(AB)_d   0.51           0.70']

In [2]:
import pandas as pd
from IPython.display import display

df = pd.DataFrame({"Exoplaneta": exoplaneta,
                   "Periodo (años)": periodo_orbital_años,
                   "Semieje (AU)": semieje})

display(df)

         Exoplaneta  Periodo (años)  Semieje (AU)
0     NN_Ser_(AB)_c           15.49          5.39
1     NN_Ser_(AB)_d            7.65          3.36
2  Kepler-47_(AB)_b            0.14          0.30
3  Kepler-47_(AB)_c            0.83          0.99
4  Kepler-47_(AB)_d            0.51          0.70

2.- Obtén el valor de la pendiente de la gráfica obtenida para los sistemas de NN SER (AB) y Kepler-47. Rellene los datos obtenidos en la siguiente tabla.

In [3]:
import pandas as pd
from IPython.display import display

df2 = pd.DataFrame({"Nombre planeta": ["NN Ser (AB)","Kepler-47"],
                   "Pendiente": 0})
display(df2)

  Nombre planeta  Pendiente
0    NN Ser (AB)          0
1      Kepler-47          0

## Cálculo de pendientes
### NN Ser (AB) :

In [4]:
from a3_t2 import Calculadora_Kepler
NNSerAB_periodo = []
NNSerAB_periodo.append(periodo_orbital_años[0:2])
print(NNSerAB_periodo,"\n")
NNSerAB_periodo = np.array(NNSerAB_periodo,)


NNSerAB_distancia = []
NNSerAB_distancia.append(semieje[0:2])
print(NNSerAB_distancia,"\n")
NNSerAB_distancia = np.array(NNSerAB_distancia)


Calculadora_Kepler(NNSerAB_distancia,NNSerAB_periodo)

[[15.49, 7.65]]

[[5.39, 3.36]]

El periodo al cuadrado es:
[array([239.9401,  58.5225])]

la distancia al cubo es:

Las constantes individuales son:
[array([6.24890538e-05, 1.07218413e-03])]

([array([239.9401,  58.5225])],
 '\n',
 [array([156.590819,  37.933056])],
 '\n',
 [array([6.24890538e-05, 1.07218413e-03])])

In [5]:
################################
#           Gráfico            #
################################

plt.figure(figsize=(10, 6))
plt.scatter(A_3, T_2)
plt.title("a³ vs T²", fontsize=15)
plt.xlabel("a³", fontsize=15)
plt.ylabel("T²", fontsize=15)
plt.show()

NameError: name 'A_3' is not defined